<template name="credentialsAdd">
    <h2>{{{fa 'plus'}}} Add credentials</h2>
    <hr>
    {{#autoForm schema="CredentialsForm" id="addCredentials"}}
        {{> afQuickField name="domain"}}
        {{> afQuickField name="identifier"}}
        {{> afQuickField name="password"}}
        <div class="form-group">
            <button type="submit" class="btn btn-success js-submit">
                {{#if masterKeyIsSet}}
                    Submit
                {{else}}
                    Set master key
                {{/if}}
            </button>
        </div>
    {{/autoForm}}
</template>