.header-image {
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('/img/public.index.jpg') no-repeat center center;
  background-size: cover;
}

.register-button {
  background: transparent !important;
  color: #fff !important;
}

.icon-block {
  font-size: 8rem !important;
  margin-bottom: 10px;
  color: #444;
}

.algorithm-image {
  background: linear-gradient(rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.89)), url('/img/public.index.2.jpg') no-repeat center center;
  background-size: cover;
}