<template name="navbar">
    <section class="section">
        <div class="container">
            <nav class="nav">
                <div class="nav-left">
                    <a class="nav-item is-brand" href="{{pathFor 'public.index'}}">
                        {{> logo}}
                    </a>
                    {{#if currentUser}}
                        <a class="nav-item" href="{{pathFor 'rea.credentials.index'}}">{{{fa 'key'}}} Credentials</a>
                        {{#if isInRole 'admin'}}
                            <a class="nav-item" href="{{pathFor 'admin'}}">{{{fa 'terminal'}}} Administration</a>
                        {{/if}}
                    {{/if}}
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>

                <div class="nav-right nav-menu">
                    {{#with currentUser}}
                        <a href="{{pathFor 'rea.profile.index'}}" class="nav-item">
                            {{{fa 'user'}}} {{username}}
                        </a>
                        <a class="nav-item js-logout" href="#">{{{fa 'sign-out'}}}</a>
                    {{else}}
                        <a class="nav-item" href="{{pathFor 'public.auth.register'}}">{{{fa 'registered'}}} Register</a>
                        <a class="nav-item" href="{{pathFor 'public.auth.login'}}">{{{fa 'sign-in'}}} Login</a>
                    {{/with}}
                </div>
            </nav>
        </div>
    </section>
</template>