<template name="navbar">
    <section class="hero is-light">
        <div class="hero-header">
            <nav class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item is-brand" href="{{pathFor 'public.index'}}">
                            {{> logo}}
                        </a>
                        {{#if currentUser}}
                            <a href="#" class="nav-item">
                                {{> icon name='folder'}}
                                <span class="is-hidden-mobile">Files</span>
                            </a>
                            <a href="{{pathFor 'rea.credentials.index'}}" class="nav-item {{isActiveRoute regex='credentials'}}">
                                {{> icon name='key' size='is-small'}}
                                <span class="is-hidden-mobile">Credentials</span>
                            </a>
                            <a href="{{pathFor 'rea.map.index'}}" class="nav-item {{isActiveRoute regex='map'}}">
                                {{> icon name='map' size='is-small'}}
                                <span class="is-hidden-mobile">Map</span>
                            </a>
                            {{#if isInRole 'admin'}}
                                <a href="{{pathFor 'admin.index'}}" class="nav-item {{isActiveRoute regex='admin'}}">
                                    {{> icon name='terminal' size='is-small'}}
                                    <span class="is-hidden-mobile">Administration</span>
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <span id="nav-toggle" class="nav-toggle {{navbarToggle}}">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                    <div class="nav-right nav-menu {{navbarToggle}}">
                        {{#with currentUser}}
                            {{#if masterKeyIsSet}}
                                <a href="#" class="nav-item active js-remove-master-key">
                                    {{> icon name='times' size='is-small'}}
                                    <span>Remove master key</span>
                                </a>
                            {{else}}
                                <a href="#" class="nav-item js-set-master-key">
                                    {{> icon name='unlock-alt' size='is-small'}}
                                    <span>Set master key</span>
                                </a>
                            {{/if}}
                            <a href="{{pathFor 'rea.profile.index'}}"
                               class="nav-item {{isActiveRoute regex='profile'}}">
                                {{> icon name='user' size='is-small'}}
                                <span>{{username}}</span>
                            </a>
                            <a class="nav-item js-logout" href="#">{{> icon name='sign-out' size='is-small'}}</a>
                        {{else}}
                            <a href="{{pathFor 'public.auth.login'}}" class="nav-item">
                                <span>Login</span>
                            </a>
                            <span class="nav-item">
                              <a href="{{pathFor 'public.auth.register'}}" class="button is-primary is-outlined">
                                  <span>Register</span>
                              </a>
                            </span>
                        {{/with}}
                    </div>
                </div>
            </nav>
        </div>
    </section>
</template>
