<template name="navbar">
    <section class="hero is-light">
        <div class="hero-header">
            <nav class="nav">
                <div class="container">
                    <div class="nav-left">
                        <a class="nav-item is-brand" href="{{pathFor 'public.index'}}">
                            {{> logo}}
                        </a>
                        {{#if currentUser}}
                            <a class="nav-item" href="{{pathFor 'rea.credentials.index'}}">
                                {{> icon name='key' size='is-small'}} Credentials
                            </a>
                            {{#if isInRole 'admin'}}
                                <a class="nav-item" href="{{pathFor 'admin'}}">
                                    {{> icon name='terminal' size='is-small'}} Administration
                                </a>
                            {{/if}}
                        {{/if}}
                    </div>
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <span class="nav-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>

                    <div class="nav-right nav-menu">
                        {{#with currentUser}}
                            <a href="{{pathFor 'rea.profile.index'}}" class="nav-item">
                                {{> icon name='user' size='is-small'}} {{username}}
                            </a>
                            <a class="nav-item js-logout" href="#">{{{fa 'sign-out'}}}</a>
                        {{else}}
                            <a class="nav-item" href="{{pathFor 'public.auth.register'}}">
                                {{> icon name='registered' size='is-small'}} Register
                            </a>
                            <a class="nav-item" href="{{pathFor 'public.auth.login'}}">
                                {{> icon name='sign-in' size='is-small'}} Login
                            </a>
                        {{/with}}
                    </div>
                </div>
            </nav>
        </div>
    </section>
</template>