<template name="masterPasswordModal">
    <div class="modal fade" id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Enter your password</h4>
                </div>
                <div class="modal-body">
                    {{> quickForm schema=masterPasswordForm id="masterPasswordForm" resetOnSuccess=true}}
                </div>
            </div>
        </div>
    </div>
</template>
