<template name="master-password.modal">
    <div class="modal fade" id="masterPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter your password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{#if hasPasswordError}}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            Wrong password ! Try again...
                        </div>
                    {{/if}}
                    {{#autoForm schema=masterPasswordForm id="masterPasswordForm"}}
                        {{>afQuickField name='password'}}
                        <p class="control">
                            <button type="submit" class="button btn-success">
                                Submit
                            </button>
                        </p>
                    {{/autoForm}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</template>
