<template name="show-credential.modal">
    <div class="modal {{isActive}}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <h1 class="title">
                {{> icon name='list-alt' size='is-medium'}}
                <span>Credentials informations</span>
            </h1>
            <hr>
            <table class="table">
                <thead>
                <tr>
                    <th>Domain</th>
                    <th>Identifier</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {{#with credentials}}
                        <td>{{domain}}</td>
                        <td>{{identifier}}</td>
                        <td>{{plainPassword}}</td>
                    {{/with}}
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="modal-close"></button>
</template>