<template name="adminAccounts">
    <h2>{{{fa 'users'}}} Accounts <small>{{usersCount}}</small></h2>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Email address</th>
                <th>Created at</th>
                <th class="text-center">Status</th>
                <th># cred.</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td class="text-center"><i class="fa fa-circle" style="color: {{userConnectionStatus}};"></i></td>
                    <td>{{username}}</td>
                    <td>{{emails.[0].address}}</td>
                    <td>{{formatDate createdAt}}</td>
                    <td class="text-center">
                        {{#with userStatus}}
                            <span class="label label-{{type}}">{{{fa icon}}} {{text}}</span>
                        {{/with}}
                    </td>
                    <td>{{credentialsCount}}</td>
                    <td>
                        <div class="pull-right">
                            {{#if isDisabled}}
                                <button type="button" class="btn btn-success btn-xs js-status-toggle">{{{fa 'check'}}}<span class="hidden-xs"> Enable</span></button>
                            {{else}}
                                <button type="button" class="btn btn-danger btn-xs js-status-toggle">{{{fa 'user-times'}}}<span class="hidden-xs"> Disable</span></button>
                            {{/if}}
                            <a href="{{pathFor 'admin.accounts.remove' userId=this._id}}" class="btn btn-danger btn-xs js-remove">{{{fa 'trash'}}}<span class="hidden-xs"> Remove</span></a>
                        </div>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    {{#if isEmpty users}}
        <h4 class="text-center"><small>No users for now...</small></h4>
    {{/if}}
</template>