<template name="geolocation">
    <h2>{{{fa 'location-arrow'}}} Geolocation Services</h2>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="well text-center">
                <a href="{{pathFor 'speedometer'}}" style="font-size: 100px;">
                    {{{fa 'dashboard'}}}
                </a>
                <h4 class="text-center">Speedometer</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well text-center">
                <a href="#" class="disabled" style="font-size: 100px;">
                    {{{fa 'map'}}}
                </a>
                <h4 class="text-center">Map</h4>
            </div>
        </div>
    </div>
</template>