<template name="footer">
    <div class="footer" style="min-height: 200px; background: #f4f4f4; padding-top: 20px; margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <a href="{{pathFor 'index'}}">Home</a> | <a href="{{pathFor 'contact'}}">Contact</a>
                </div>
                <div class="col-md-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur delectus deleniti, dignissimos dolorum eius enim facere ipsum itaque iure labore magni obcaecati omnis porro reprehenderit suscipit, tenetur, ut voluptates.
                </div>
                <div class="col-md-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at dolorem ducimus exercitationem hic incidunt nulla obcaecati odit quo rem, tempore temporibus voluptate voluptates. Ad corporis facere perspiciatis possimus voluptate!
                </div>
            </div>
        </div>
    </div>
</template>